.family-timeline-container {
  background-color: rgb(255 255 255 / 5%);
  border-radius: 0.5rem;
  height: 100%;
  padding: 1.5rem;

  h1 {
    color: var(--md-sys-color-on-surface);
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  .timeline-content {
    height: calc(100% - 4rem);
    overflow-y: auto;
  }
}
