.family-timeline-container {
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.5rem;
  height: 100%;
  
  h1 {
    color: var(--md-sys-color-on-surface);
    margin-bottom: 1.5rem;
    font-weight: 500;
  }
  
  .timeline-content {
    height: calc(100% - 4rem);
    overflow-y: auto;
  }
}
