<div class="logger-display">
  <div #logContainer class="log-entries">
    <div class="log-entry" *ngFor="let log of filterLogs()" [ngClass]="getLogClass(log)">
      <span class="log-time">{{ log.timestamp | date:'medium' }}</span>
      <span class="log-level" [ngClass]="log.level">
        <mat-icon>{{ getLogIcon(log) }}</mat-icon>
        {{ log.level.toUpperCase() }}
      </span>
      <span class="log-message">{{ log.message }}</span>
    </div>
    
    <div *ngIf="filterLogs().length === 0" class="empty-log">
      <mat-icon>receipt_long</mat-icon>
      <span>No logs to display</span>
    </div>
  </div>
</div>
