<div class="logger-display">
  <h2>Application Logs</h2>

  <div class="log-category" *ngIf="logs['error'].length">
    <h3>
      Errors 
      <button mat-icon-button (click)="toggleSort('error')">
        <mat-icon>{{ sortOrder.error === 'asc' ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
      </button>
    </h3>
    <div class="log-entries">
      <mat-card *ngFor="let log of logs['error']" class="log-entry error" appearance="outlined">
        <div fxLayout="column" fxLayoutGap="8px">
          <div fxLayout="row" fxLayoutAlign="start center" class="log-header">
            <span class="category-indicator">ERROR</span>
            <span class="timestamp">{{ log.timestamp }}</span>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" class="log-body">
            <span class="description">{{ log.description }}</span>
            <span class="data">{{ log.data }}</span>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="log-category" *ngIf="logs['warn'].length">
    <h3>
      Warnings 
      <button mat-icon-button (click)="toggleSort('warn')">
        <mat-icon>{{ sortOrder.warn === 'asc' ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
      </button>
    </h3>
    <div class="log-entries">
      <mat-card *ngFor="let log of logs['warn']" class="log-entry warn" appearance="outlined">
        <div fxLayout="column" fxLayoutGap="8px">
          <div fxLayout="row" fxLayoutAlign="start center" class="log-header">
            <span class="category-indicator">WARN</span>
            <span class="timestamp">{{ log.timestamp }}</span>
            <span class="description">{{ log.description }}</span>
            <span class="data">{{ log.data }}</span>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="log-category" *ngIf="logs['info'].length">
    <h3>
      Information 
      <button mat-icon-button (click)="toggleSort('info')">
        <mat-icon>{{ sortOrder.info === 'asc' ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
      </button>
    </h3>
    <div class="log-entries">
      <mat-card *ngFor="let log of logs['info']" class="log-entry info" appearance="outlined">
        <div fxLayout="column" fxLayoutGap="8px">
          <div fxLayout="row" fxLayoutAlign="start center" class="log-header">
            <span class="category-indicator">INFO</span>
            <span class="timestamp">{{ log.timestamp }}</span>
            <span class="description">{{ log.description }}</span>
            <span class="data">{{ log.data }}</span>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="log-category" *ngIf="logs['log'].length">
    <h3>
      Logs 
      <button mat-icon-button (click)="toggleSort('log')">
        <mat-icon>{{ sortOrder.log === 'asc' ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
      </button>
    </h3>
    <div class="log-entries">
      <mat-card *ngFor="let log of logs['log']" class="log-entry log" appearance="outlined">
        <div fxLayout="column" fxLayoutGap="8px">
          <div fxLayout="row" fxLayoutAlign="start center" class="log-header">
            <span class="category-indicator">LOG</span>
            <span class="timestamp">{{ log.timestamp }}</span>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" class="log-body">
            <span class="description">{{ log.description }}</span>
            <span class="data">{{ log.data }}</span>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
