<div class="sidebar-container" [class.expanded]="!isCollapsed">
  <mat-nav-list>
    <div *ngFor="let item of menuItems" class="sidenav">
      <button
        mat-raised-button
        [routerLink]="item.routerLink"
        [ngClass]="{ active: item.active }"
        (click)="setActive(item)"
        class="mat-elevation-z5 menu-item"
        [class.mat-elevation-z8]="item.active"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">{{ item.label }}</span>
      </button>
    </div>
  </mat-nav-list>
  <mat-toolbar>
    <button mat-icon-button (click)="toggleMenu()">
      <mat-icon class="toggle">{{
        isCollapsed ? 'menu_closed' : 'menu_open'
      }}</mat-icon>
    </button>
  </mat-toolbar>
</div>
