<div class="header-container" [ngClass]="themeClass" [@themeTransition]="themeClass">
  <div class="header-left">
    <div class="logo-section" (mouseenter)="toggleLogoState()" (mouseleave)="toggleLogoState()" [@logoAnimation]="logoState">
      <div class="logo-wrapper">
        <img src="assets/images/logo.png" alt="Craft Fusion Logo" class="logo-image">
        <div class="logo-shine"></div>
      </div>
      <h1 class="logo-text">Craft Fusion</h1>
    </div>
    
    <div class="nav-section" [@navItemsAnimation]="navItems.length">
      <ng-container *ngFor="let item of navItems; let i = index">
        <a mat-button 
           [routerLink]="item.route" 
           routerLinkActive="active-link"
           class="nav-item" 
           [attr.data-index]="i"
           (mouseenter)="animateNavItem(i)"
           [@fadeInOut]>
          <mat-icon class="nav-icon" [ngClass]="{'animated-icon': navItemsState[i] === 'active'}">{{item.icon}}</mat-icon>
          <span class="nav-text">{{item.label}}</span>
        </a>
      </ng-container>
    </div>
  </div>
  
  <div class="header-right">
    <!-- Theme transition effect element -->
    <div class="theme-ripple-effect" [@ripple]="rippleState"></div>
  
    <!-- System menu dropdown -->
    <button mat-icon-button [matMenuTriggerFor]="systemMenu" class="system-menu-button hover-effect" aria-label="System menu">
      <mat-icon>menu</mat-icon>
      <div class="button-ripple"></div>
    </button>
    
    <mat-menu #systemMenu="matMenu" class="system-dropdown-menu">
      <div class="menu-header">
        <span class="menu-title">System Menu</span>
      </div>
      
      <!-- Theme Toggle with animation class -->
      <button mat-menu-item (click)="toggleTheme()" class="theme-toggle-item">
        <mat-icon [class.sun-rotate]="!isDarkTheme" [class.moon-glow]="isDarkTheme">
          {{ isDarkTheme ? 'light_mode' : 'dark_mode' }}
        </mat-icon>
        <span>{{ isDarkTheme ? 'Light Theme' : 'Dark Theme' }}</span>
      </button>
      
      <!-- Settings -->
      <button mat-menu-item [routerLink]="['/settings']" class="menu-item-animated">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      
      <!-- Help -->
      <button mat-menu-item (click)="openHelpDialog()" class="menu-item-animated">
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
      
      <mat-divider></mat-divider>
      
      <!-- User Profile -->
      <button mat-menu-item [routerLink]="['/profile']" class="menu-item-animated">
        <mat-icon>account_circle</mat-icon>
        <span>My Profile</span>
      </button>
      
      <!-- Logout -->
      <button mat-menu-item (click)="logout()" *ngIf="isLoggedIn" class="menu-item-animated">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
      
      <!-- Login -->
      <button mat-menu-item (click)="login()" *ngIf="!isLoggedIn" class="menu-item-animated">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
    </mat-menu>
    
    <!-- User avatar with dropdown - ALWAYS show this button, regardless of login status -->
    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-menu-button hover-effect" aria-label="User menu">
      <div class="user-avatar" [ngClass]="{'guest-avatar': !isLoggedIn}" [ngStyle]="{'background-image': 'url(' + userAvatar + ')'}">
        <div class="avatar-status" [ngClass]="isLoggedIn ? 'online' : 'offline'"></div>
      </div>
    </button>
    
    <mat-menu #userMenu="matMenu" class="user-dropdown-menu" xPosition="before">
      <!-- User info header - show different content based on auth state -->
      <div class="user-info-header">
        <div class="user-avatar-large" [ngStyle]="{'background-image': 'url(' + userAvatar + ')'}"></div>
        <div class="user-details">
          <div class="user-name">{{ user?.name || 'Guest User' }}</div>
          <div class="user-email">{{ user?.email || 'Not signed in' }}</div>
        </div>
      </div>
      
      <mat-divider></mat-divider>
      
      <!-- Show different menu items based on authentication state -->
      <ng-container *ngIf="isLoggedIn; else loginTemplate">
        <!-- Logged in user options -->
        <button mat-menu-item [routerLink]="['/profile']" class="menu-item-animated">
          <mat-icon>person</mat-icon>
          <span>My Profile</span>
        </button>
        
        <button mat-menu-item [routerLink]="['/settings']" class="menu-item-animated">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        
        <mat-divider></mat-divider>
        
        <button mat-menu-item (click)="logout()" class="menu-item-animated">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </ng-container>
      
      <!-- Login template for guests -->
      <ng-template #loginTemplate>
        <button mat-menu-item (click)="login()" class="menu-item-animated login-button">
          <mat-icon>login</mat-icon>
          <span>Sign In</span>
        </button>
        
        <button mat-menu-item [routerLink]="['/register']" class="menu-item-animated register-button">
          <mat-icon>person_add</mat-icon>
          <span>Register</span>
        </button>
        
        <mat-divider></mat-divider>
        
        <button mat-menu-item [routerLink]="['/guest']" class="menu-item-animated">
          <mat-icon>public</mat-icon>
          <span>Continue as Guest</span>
        </button>
      </ng-template>
    </mat-menu>
    
    <!-- Notifications icon with pulse animation -->
    <button mat-icon-button class="notification-button hover-effect patriotic-pulse" aria-label="Notifications">
      <mat-icon [matBadge]="notificationCount || ''" [matBadgeHidden]="!notificationCount" matBadgeColor="warn">notifications</mat-icon>
    </button>
    
    <!-- Search button with shimmer effect -->
    <button mat-icon-button class="search-button hover-effect patriotic-shimmer" aria-label="Search">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>
