.icons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;                                             
  padding: 1em;                                                 
}

.icon-item {
  align-items: center;
  background-color: #fff;                                                     
  border: 1px solid #ccc;                                              
  border-radius: 0.5em;                                                 
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);                                          
  display: flex;
  flex-direction: column;
  height: 6.25em;                                               
  justify-content: center;
  padding: 0.5em;                                             
  width: 6.25em;                                              
}

.icon-item mat-icon {
  font-size: 3em;                                             
  margin-bottom: 0.5em;                                                      
}

.icon-item span {
  font-size: 0.875em;                                              
  text-align: center;                            
}

.red-tile {
  background-color: red;
  color: white;
}

.blue-tile {
  background-color: blue;
  color: white;
}

.white-tile {
  background-color: white;
  color: black;
}
