.page-container {
  align-items: center;
  background-color: rgb(0 0 0 / 80%);
  display: flex;
  height: 71vh;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.video-container {
  align-items: center;
  background-color: rgb(0 0 0 / 80%);
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

.player {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
