mat-form-field {
  padding: 0 0.75rem;                                             
  width: 12.5em;

  ::ng-deep {
    .mat-mdc-text-field-wrapper {
      background: rgb(255 255 255 / 92%) !important;
      border: 1px solid rgb(0 40 104 / 30%);                               
      border-radius: 0.25rem;
      transition: all 0.3s ease;

      &:hover {
        border-color: rgb(0 40 104 / 60%);
        box-shadow: 0 0 0.5rem rgb(0 40 104 / 20%);
      }
    }

    .mdc-floating-label {
      color: #002868;                        
      font-weight: 500;
    }

    .mat-mdc-select-arrow {
      color: #bf0a30;                       
    }

    .mat-mdc-select-value-text {
      color: #002868;                       
      font-weight: 500;
    }
  }
}

:host ::ng-deep .mat-mdc-select-panel {
  .mat-mdc-option {
    &.mdc-list-item--selected {
      background-color: #e3f2fd !important;                                 
      color: #002868 !important;                       

      &:not(.mdc-list-item--disabled) {
        background-color: #e3f2fd !important;
      }

      &:hover {
        background-color: #bbdefb !important;                                               
      }
    }

    &:hover:not(.mdc-list-item--selected) {
      background-color: #f3f8ff !important;                                           
    }
  }
}
