<div class="theme-switcher-container" [ngClass]="size">
  <!-- Dropdown version -->
  <div *ngIf="position === 'dropdown'" class="theme-dropdown">
    <button class="theme-button current-theme" 
            [attr.aria-label]="'Current theme: ' + getCurrentTheme().name"
            (click)="toggleDropdown()">
      <mat-icon [@rotateIcon]="iconState" class="theme-icon">{{ getCurrentTheme().icon }}</mat-icon>
      <span *ngIf="showLabels" class="theme-name">{{ getCurrentTheme().name }}</span>
    </button>
    
    <div class="theme-options" *ngIf="isOpen" [@themeSwitch]="'in'">
      <button *ngFor="let theme of availableThemes" 
              class="theme-option" 
              [class.active]="theme.id === currentThemeId"
              (click)="selectTheme(theme.id)"
              [attr.aria-label]="'Select ' + theme.name + ' theme'">
        <div class="theme-icon-container">
          <span class="theme-color-dot" [style.background-color]="theme.color"></span>
          <mat-icon class="theme-option-icon">{{ theme.icon }}</mat-icon>
        </div>
        <div class="theme-option-text" *ngIf="showLabels">
          <span class="theme-option-name">{{ theme.name }}</span>
          <span class="theme-option-desc">{{ theme.description }}</span>
        </div>
      </button>
    </div>
  </div>
  
  <!-- Inline version (all themes shown at once) -->
  <div *ngIf="position === 'inline'" class="theme-inline-container">
    <button *ngFor="let theme of availableThemes" 
            class="theme-inline-option" 
            [class.active]="theme.id === currentThemeId"
            (click)="selectTheme(theme.id)"
            [attr.aria-label]="'Select ' + theme.name + ' theme'">
      <div class="theme-icon-container">
        <span class="theme-color-dot" [style.background-color]="theme.color"></span>
        <mat-icon class="theme-inline-icon">{{ theme.icon }}</mat-icon>
      </div>
      <span class="theme-option-name" *ngIf="showLabels">{{ theme.name }}</span>
    </button>
  </div>
</div>
