.services-dashboard {
  padding: 1.25em;
}

.dashboard-header {
  margin-bottom: 1.5em;
}

.summary-cards {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.summary-card {
  background-color: #f5f5f5;
  border-radius: 0.5em;
  border-top: 3px solid #4caf50;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  flex: 1;
  min-width: 7.5em;
  padding: 1em;

  &.error {
    border-top-color: #f44336;
  }

  &.inactive {
    border-top-color: #9e9e9e;
  }
}

.card-value {
  font-size: 1.5em;
  font-weight: bold;
}

.card-label {
  color: #757575;
  font-size: 0.875em;
  margin-top: 0.25em;
}

.services-section {
  margin-bottom: 2em;

  h3 {
    font-weight: 500;
    margin-bottom: 1em;
  }
}

table {
  width: 100%;

  .service-name {
    font-weight: 500;
  }

  .service-desc {
    color: #757575;
    font-size: 0.75em;
  }
}

.status-indicator {
  border-radius: 50%;
  display: inline-block;
  height: 0.75em;
  margin-right: 0.5em;
  width: 0.75em;

  &.status-active {
    background-color: #4caf50;
  }

  &.status-inactive {
    background-color: #9e9e9e;
  }

  &.status-error {
    background-color: #f44336;
  }
}
