<div class="recipes-container content">

  <div *ngIf="loaded" class="debug-info">{{ recipes.length }} recipes loaded</div>

  <ng-container *ngIf="loaded && recipes.length > 0; else noRecipesOrLoading">
    <ng-container *ngFor="let recipe of paginatedRecipes">
      <mat-card class="recipe-card" (click)="selectRecipe(recipe)">
        <mat-icon class="recipe-icon">restaurant</mat-icon>
        <mat-card-title class="recipe-title">{{ recipe.name }}</mat-card-title>
        <div *ngIf="recipe.description" class="recipe-description">{{ recipe.description }}</div>
        <div *ngIf="recipe.countryCode" class="recipe-origin">
          <span class="flag-icon flag-icon-{{ recipe.countryCode | lowercase }}"></span>&nbsp;
          <small>{{ recipe.countryName }}</small>
        </div>
        <button mat-mini-fab color="primary" class="recipe-button" (click)="selectRecipe(recipe); $event.stopPropagation()">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-card>
    </ng-container>
  </ng-container>
  <ng-template #noRecipesOrLoading>
    <ng-container *ngIf="loaded; else loading">
      <p class="no-recipes">No recipes available. Check back soon for delicious peasant cuisine!</p>
    </ng-container>
  </ng-template>
  <ng-template #loading>
    <div class="loading-container">
      <mat-spinner color="accent" diameter="40"></mat-spinner>
      <p class="loading-text">Loading recipes...</p>
    </div>
  </ng-template>
</div>

<div class="pagination-container">
  <button class="pagination-button" (click)="previousPage()" [disabled]="currentPage === 1">&lt;</button>
  <span class="pagination-info">{{ currentPage }} of {{ totalPages }}</span>
  <button class="pagination-button" (click)="nextPage()" [disabled]="currentPage === totalPages">&gt;</button>
</div>
