<div class="sun-container">
  <div class="sun">
    <div class="face">
      <div class="eye left-eye"></div>
      <div class="eye right-eye"></div>
      <div class="blush left-blush"></div>
      <div class="blush right-blush"></div>
      <div class="nose"></div>
      <div class="smile"></div>
    </div>
  </div>
</div>

<mat-sidenav-container #container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" closed class="sidenav-custom-width">
    <input type="file" (change)="onFileSelected($event)" accept=".pdf,.docx,.txt" />
    <mat-nav-list>
      <mat-list-item *ngFor="let document of openedDocuments" (click)="onDocumentSelected(document.name)" [ngStyle]="{'background-color': document.color}">
        {{ document.name }}
      </mat-list-item>
    </mat-nav-list>
    <div *ngIf="selectedDocument" class="outline-box">
      <p>Outline of {{ selectedDocument }}</p>
      <mat-nav-list>
        <mat-list-item *ngFor="let chapter of chapters; let i = index" (click)="scrollToChapter(i)">
          {{ chapter }}
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-fab color="primary" aria-label="Toggle Sidebar" (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="tinymce-container">
      <editor
        [init]="init"
        [(ngModel)]="editorData"
        (onChange)="onChange($event)"
        (onInit)="onInit($event)"
      ></editor>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
