<div class="page-container">
  <div class="sun-container">
    <div class="sun">
      <div class="face">
        <div class="eye left-eye"></div>
        <div class="eye right-eye"></div>
        <div class="blush left-blush"></div>
        <div class="blush right-blush"></div>
        <div class="nose"></div>
        <div class="smile"></div>
      </div>
    </div>
  </div>

  <mat-sidenav-container #container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" closed class="sidenav-custom-width">
      <mat-nav-list>
        <mat-list-item class="document" *ngFor="let document of openedDocuments" (click)="onDocumentSelected(document.name)" [ngStyle]="{'background-color': document.color}">
          <p>{{ document.name.split('.').slice(0, -1).join('.') }}</p>
        </mat-list-item>
      </mat-nav-list>
      <div class="file-actions">
        <button mat-mini-fab color="primary" aria-label="Choose Files" matTooltip="Choose Files" class="mini-mat-fab" [class.light-theme]="!isDarkTheme" [class.dark-theme]="isDarkTheme">
          <input type="file" (change)="onFileSelected($event)" accept=".pdf,.docx,.txt" multiple />
          <mat-icon class="vibrant-blue">attach_file</mat-icon>
        </button>
        <button mat-mini-fab color="primary" aria-label="Save" (click)="onSave()" matTooltip="Save" class="mini-mat-fab" [class.light-theme]="!isDarkTheme" [class.dark-theme]="isDarkTheme">
          <mat-icon class="vibrant-green">save</mat-icon>
        </button>
      </div>
      <div *ngIf="selectedDocument" class="outline-box">
        <p [ngStyle]="{'color': selectedDocument.color}">Outline of {{ selectedDocument.name }}</p>
        <div *ngFor="let chapter of chapters; let i = index" (click)="scrollToChapter(i)" class="chapter-link">
          {{ chapter }}
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="toolbar">
        <button mat-mini-fab color="primary" aria-label="Toggle Sidebar" (click)="toggleSidebar()" class="mini-mat-fab" matTooltip="Toggle Sidebar" [class.light-theme]="!isDarkTheme" [class.dark-theme]="isDarkTheme">
          <mat-icon class="vibrant-red">menu</mat-icon>
        </button>
        <div class="font-selection">
          <select id="font-select" (change)="changeFont($event)" matTooltip="Select Font">
            <option *ngFor="let font of availableFonts" [value]="font" [selected]="font === selectedFont">{{ font }}</option>
          </select>
          <select id="font-size-select" (change)="changeFontSize($event)" matTooltip="Select Font Size">
            <option *ngFor="let fontSize of availableFontSizes" [value]="fontSize" [selected]="fontSize === selectedFontSize">{{ fontSize }}</option>
          </select>
        </div>
        <button mat-mini-fab color="accent" aria-label="Toggle Read-Only" (click)="toggleMarkdownPrettyView()" class="mini-mat-fab" matTooltip="Toggle Read-Only" [class.light-theme]="!isDarkTheme" [class.dark-theme]="isDarkTheme">
          <mat-icon class="vibrant-orange">{{ isMarkdownPrettyView ? 'edit' : 'visibility' }}</mat-icon>
        </button>
        <button mat-mini-fab color="primary" aria-label="Toggle Images" (click)="toggleImages()" class="mini-mat-fab" matTooltip="Toggle Images" [class.light-theme]="!isDarkTheme" [class.dark-theme]="isDarkTheme">
          <mat-icon class="vibrant-blue">{{ areImagesVisible ? 'image' : 'image_not_supported' }}</mat-icon>
        </button>
        <button mat-mini-fab color="primary" aria-label="Toggle Theme" (click)="toggleTheme()" class="mini-mat-fab" matTooltip="Toggle Theme" [class.light-theme]="!isDarkTheme" [class.dark-theme]="isDarkTheme">
          <mat-icon class="vibrant-yellow">{{ isDarkTheme ? 'brightness_4' : 'brightness_7' }}</mat-icon>
        </button>
        <div *ngIf="isReadOnly" class="readonly-banner">Read-Only Mode</div>
        <button mat-mini-fab color="primary" (click)="toggleRSVP()" matTooltip="RSVP Proofread Mode" aria-label="RSVP Proofread Mode" class="mini-mat-fab" [class.light-theme]="!isDarkTheme" [class.dark-theme]="isDarkTheme">
          <mat-icon>speed</mat-icon>
        </button>
      </div>
      <!-- RSVP Speed-Reading Overlay -->
      <div class="rsvp-overlay" *ngIf="isRSVPMode">
        <div class="rsvp-reticle">
          <p class="rsvp-word">{{ rsvpWord }}</p>
        </div>
        <div class="rsvp-controls">
          <button mat-mini-fab color="warn" (click)="toggleRSVP()" matTooltip="Exit RSVP Mode" aria-label="Exit RSVP Mode" [class.light-theme]="!isDarkTheme" [class.dark-theme]="isDarkTheme">Exit</button>
          <input type="range" min="300" max="3000" step="250" [(ngModel)]="rsvpSpeed" list="tickmarks">
          <label>{{ rsvpSpeed }} WPM</label>
          <button mat-mini-fab color="accent" (click)="togglePlayPause()" matTooltip="Play/Pause RSVP" aria-label="Play/Pause RSVP" [class.light-theme]="!isDarkTheme" [class.dark-theme]="isDarkTheme">
            <mat-icon>{{ isRSVPPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
          </button>
        </div>
      </div>
      <div class="tinymce-container" [ngStyle]="{'font-family': selectedFont, 'font-size': selectedFontSize}">
        <div *ngIf="isMarkdownPrettyView" #markdownPreview class="markdown-preview book-content" [innerHTML]="editorData | safeHtml"></div>
        <editor *ngIf="!isMarkdownPrettyView"
          [init]="init"
          [(ngModel)]="editorData"
          (onChange)="onChange($event)"
          (onInit)="onInit($event)"
        ></editor>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
