@mixin book-theme {
  // General body styles to ensure they are applied
  body {
    font-family: 'Roboto', sans-serif;
    &.light-theme {
      background-color: #f5f5f5;
      color: #1e1e1e;
    }
    &.dark-theme {
      background-color: #1e1e1e;
      color: #e0e0e0;
    }
  }

  // General page container styles
  .page-container {
    &.light-theme {
      background-color: #f5f5f5;
      color: #1e1e1e;
    }

    &.dark-theme {
      background-color: #1e1e1e;
      color: #e0e0e0;
    }

    // Book Content Styles
    .book-content {
      font-family: 'IBM Plex Serif', serif;
      font-size: 1.25em;
      line-height: 1.5em;
      margin: 1em;
      padding: 1em;
      background-color: rgba(255, 255, 255, 0.1);
      color: #fff;
      width: 80%;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
      animation: fadeIn 1s ease-in-out;

      h1, h2, h3, h4, h5, h6 {
        font-family: inherit !important;
        font-size: inherit !important;
      }

      h1 {
        font-size: 2em;
        color: #ff0000;
      }

      h2 {
        font-size: 1.75em;
        color: #ff6600;
      }

      h3 {
        font-size: 1.5em;
        color: #ffcc00;
      }

      h4 {
        font-size: 1.25em;
        color: #00ff00;
      }

      h5 {
        font-size: 1em;
        color: #0000ff;
      }

      h6 {
        font-size: 0.8em;
        color: #6600cc;
      }
    }

    // Sidebar Theme
    .sidenav-custom-width {
      width: 14%;
      overflow: hidden;
      background-color: rgba(0, 0, 139, 0.6);
    }

    // Toolbar Theme
    .toolbar {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1em;
      margin: 0.5em 0 0 0.5em;
      width: 97.5%;
      background-color: rgba(139, 0, 0, 0.6);
      padding: 0.5em;
    }

    // Editor Theme
    .tox-tinymce {
      height: 78vh !important;
      background-color: rgba(139, 0, 0, 0.6);
    }

    // Markdown Preview Theme
    .markdown-preview {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 99%;
      margin: 0.5em auto;
      color: #fff;
    }

    // Mini FAB Theme
    .mini-mat-fab {
      background-color: #000;
      color: #fff;
    }

    // Outline Box Theme
    .outline-box {
      p {
        color: #fff;
      }
    }

    // Myth Section Theme
    .markdown-preview .myth-section blockquote {
      margin-left: 2em;
      padding: 1em;
      border-left: 0.25em solid rgba(0, 123, 255, 0.5);
      font-style: italic;
      font-size: 0.9em;
      background-color: rgba(0, 0, 0, 0.1); /* Light background */

      p {
        color: #add8e6; /* Light blue color */
      }

      strong {
        font-weight: bold;
        color: #add8e6; /* Light blue color */
      }
    }

    // Markdown Section Theme
    .markdown-section {
      blockquote {
        margin-left: 2em; /* Add indentation */
        padding-left: 1em;
        border-left: 0.25em solid rgba(0, 123, 255, 0.5);
        font-style: italic;
        font-size: 0.9em; /* Smaller font size */
        p {
          color: #add8e6; /* Light blue color */
        }
        strong {
          font-weight: bold;
        }
      }
    }
  }

  // Apply light theme
  .page-container.light-theme {
    .book-content {
      background-color: rgba(255, 255, 255, 0.9);
      border: 1px solid #000;
      color: #000;
    }

    .sidenav-custom-width {
      background-color: rgba(0, 0, 255, 0.1);
      border: 1px solid #000;
    }

    .toolbar {
      background-color: rgba(255, 255, 255, 0.9);
      border: 1px solid #000;
    }

    .tox-tinymce {
      background-color: rgba(255, 255, 255, 0.9);
      border: 1px solid #000;
    }

    .markdown-preview {
      background-color: rgba(255, 255, 255, 0.9);
      border: 1px solid #000;
      color: #000;
    }

    .mini-mat-fab {
      background-color: #fff;
      color: #000;
      border: 1px solid #000;
    }

    .outline-box p {
      color: #000;
    }

    .myth-section {
      blockquote {
        border-left-color: rgba(0, 123, 255, 0.8);
        p {
          color: blue;
        }
        strong {
          color: blue;
        }
      }
    }

    .markdown-section {
      blockquote {
        border-left-color: rgba(0, 123, 255, 0.8);
        p {
          color: blue;
        }
        strong {
          color: blue;
        }
      }
    }
  }

  // Apply dark theme
  .page-container.dark-theme {
    .book-content {
      background-color: rgba(30, 30, 30, 0.9);
      border: 1px solid #e0e0e0;
      color: #e0e0e0;
    }

    .sidenav-custom-width {
      background-color: rgba(0, 0, 139, 0.9);
      border: 1px solid #e0e0e0;
    }

    .toolbar {
      background-color: rgba(30, 30, 30, 0.9);
      border: 1px solid #e0e0e0;
    }

    .tox-tinymce {
      background-color: rgba(30, 30, 30, 0.9);
      border: 1px solid #e0e0e0;
    }

    .markdown-preview {
      background-color: rgba(30, 30, 30, 0.9);
      border: 1px solid #e0e0e0;
      color: #e0e0e0;
    }

    .mini-mat-fab {
      background-color: #1e1e1e;
      color: #e0e0e0;
      border: 1px solid #e0e0e0;
    }

    .outline-box p {
      color: #e0e0e0;
    }

    .myth-section {
      blockquote {
        border-left-color: rgba(173, 216, 230, 0.8);
        p {
          color: lightblue;
        }
        strong {
          color: lightblue;
        }
      }
    }

    .markdown-section {
      blockquote {
        border-left-color: rgba(173, 216, 230, 0.8);
        p {
          color: lightblue;
        }
        strong {
          color: lightblue;
        }
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
