$light-bg: #fff;
$dark-bg: #1e1e1e;
$primary-color-light: #007bff;                
$primary-color-dark: #66b3ff;                        

@mixin themed-button($icon-color) {
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  color: $icon-color;
  display: inline-flex;
  height: 3.125em;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition:
    box-shadow 0.3s ease,
    color 0.3s ease;
  width: 3.125em;

  &::before {
    background: linear-gradient(45deg, transparent 45%, $icon-color 55%);
    border-radius: 50%;
    bottom: 0;
    content: "";
    left: 0;
    mask: linear-gradient(45deg, transparent 45%, black 55%);
    mask-composite: exclude;
    mask-mode: alpha;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease;
    z-index: -1;
  }

  &:hover {
    &::before {
      background: linear-gradient(45deg, transparent 35%, $icon-color 65%);
      mask: linear-gradient(45deg, transparent 35%, black 65%);
    }

    box-shadow: 0 0 5px rgba($icon-color, 60%);
  }
}

@keyframes sparkle {
  0% {
    box-shadow:
      0 0 5px rgb(0 123 255 / 60%),
      0 0 10px rgb(0 123 255 / 40%),
      0 0 15px rgb(0 123 255 / 20%);
  }

  100% {
    box-shadow:
      0 0 10px rgb(0 123 255 / 80%),
      0 0 20px rgb(0 123 255 / 60%),
      0 0 30px rgb(0 123 255 / 40%),
      0 0 40px rgb(0 123 255 / 20%);
  }
}

.button {
  @include themed-button($primary-color-light);
}
