$light-bg: #fff;
$dark-bg: #1e1e1e;
$primary-color-light: #007bff; // Vibrant blue
$primary-color-dark: #66b3ff; // Lighter vibrant blue

@mixin themed-button($icon-color) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  color: $icon-color;
  position: relative;
  overflow: hidden;
  transition:
    box-shadow 0.3s ease,
    color 0.3s ease;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    z-index: -1;
    transition: all 0.3s ease;
    background: linear-gradient(45deg, transparent 45%, $icon-color 55%);
    mask: linear-gradient(45deg, transparent 45%, black 55%);
    mask-mode: alpha;
    mask-composite: exclude;
  }

  &:hover {
    &::before {
      background: linear-gradient(45deg, transparent 35%, $icon-color 65%);
      mask: linear-gradient(45deg, transparent 35%, black 65%);
    }
    box-shadow: 0 0 5px rgba($icon-color, 60%);
  }
}

@keyframes sparkle {
  0% {
    box-shadow:
      0 0 5px rgba(0, 123, 255, 60%),
      0 0 10px rgba(0, 123, 255, 40%),
      0 0 15px rgba(0, 123, 255, 20%);
  }
  100% {
    box-shadow:
      0 0 10px rgba(0, 123, 255, 80%),
      0 0 20px rgba(0, 123, 255, 60%),
      0 0 30px rgba(0, 123, 255, 40%),
      0 0 40px rgba(0, 123, 255, 20%);
  }
}

// Usage in button class
.button {
  @include themed-button($primary-color-light);
}
