@use "variables" as vars;
@use "mixins" as mix;

:host {
  display: flex;
  margin-bottom: 2rem;
  padding-left: 1.875em;                               
  position: relative;

  &::before {
    background-color: var(--md-sys-color-primary);
    border: 2px solid var(--md-sys-color-surface);
    border-radius: 50%;
    content: "";
    height: 0.75em;
    left: 0.25em;                                
    position: absolute;
    top: 0;
    width: 0.75em;
    z-index: 2;
  }
}

.timeline-item-content {
  background-color: var(--md-sys-color-surface-container-highest);
  border-radius: 0.5em;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  flex-grow: 1;
  padding: 1rem;
  position: relative;

  &::before {
    border-bottom: 10px solid transparent;
    border-right: 10px solid var(--md-sys-color-surface-container-highest);
    border-top: 10px solid transparent;
    content: "";
    height: 0;
    left: -0.625em;
    position: absolute;
    top: 0.625em;
    width: 0;
  }
}

.timeline-item-date {
  color: var(--md-sys-color-primary);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.timeline-item-title {
  color: var(--md-sys-color-on-surface);
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.timeline-item-description {
  color: var(--md-sys-color-on-surface-variant);
  line-height: 1.5;
  margin-bottom: 1rem;
}

.timeline-item-image {
  border-radius: 0.25em;
  margin-top: 1rem;
  max-width: 100%;
}
