@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;100;300&display=swap');

#chatbox {
  font-family: 'Poppins', sans-serif;
  max-width: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(0 0 0 / 5%);
  border-radius: 0.55em;
  box-shadow: 0em 0.25em 0.375em rgba(0, 0, 0, 0.1);
  padding: 1em;
  height: 78vh;
  font-size: 0.9em;

  #messages {
    flex: 1;
    overflow-y: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    mat-list-item {
      display: flex;
      align-items: flex-start;

      .message-content {
        width: 100%;
      }
    }
  }

  #input {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 0.5em;
    padding: 1em;
    background-color: rgba(0 0 255 / 10%);

    textarea {
      flex-grow: 1;
      resize: none;
      overflow: hidden;
      line-height: 1.5;
      padding: 0.5em;
      border: 0.0625em solid #ccc;
      border-radius: 0.25em;
      background: rgba(255 255 255 / 1%);
      outline: none;
    }
  }
}

.full-width {
  width: 100%;
  margin-right: 1em;
}

.full-width input {
  line-height: 1.5;
}

.thinking {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin: 1em;
  background-color: rgba(0 0 0 / 10%);
  border-radius: 1em;
  margin-top: 0.625em;
}

.thinking span {
  margin-left: 0.625em;
}

.response,
.reply {
  display: flex;
  align-items: center;
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 0.5em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  animation: fadeIn 0.5s ease-in-out;

  p {
    margin: auto 0;
    color: white;
    font-size: 1.25em;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
  }

  .future-icons {
    color: white;
    margin-left: auto;
  }
}

.response {
  background-color: rgba(0 0 255 / 10%);
  color: white;
  height: auto;

  .message-icon {
    color: red;
  }
}

.reply {
  background-color: rgba(255 0 0 / 10%);
  color: white;

  .message-icon {
    color: blue;
  }
}

.message-content {
  display: flex;
  align-items: center;
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.message-text {
  display: flex;
  align-items: center;
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 0.5em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  animation: fadeIn 0.5s ease-in-out;
}

.message-icon {
  margin-right: 0.5em;
  font-size: 1.5em;
}

.future-icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0.625em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
