<div id="chatbox">
  <div class="header">
    <mat-icon>chat</mat-icon>
    <div class="model-status">
      <app-model-selector></app-model-selector>
    </div>
  </div>
  <div id="messages">
    <div *ngFor="let msg of messages; let i = index" class="message-container" [ngClass]="msg.sender === 'user' ? 'user' : 'bot'">
      <div class="message">
        <mat-icon class="message-icon">
          {{ msg.sender === 'user' ? 'person' : 'smart_toy' }}
        </mat-icon>
        <div class="message-content">
          <div class="message-text" [innerHTML]="msg.text | markdown"></div>
        </div>
        <div class="operations">
          <mat-icon (click)="copyMessage(msg)">content_copy</mat-icon>
          <mat-icon (click)="editMessage(msg)">edit</mat-icon>
          <mat-icon (click)="deleteMessage(i)">delete</mat-icon>
        </div>
      </div>
    </div>
    <div *ngIf="isThinking" class="message-container bot">
      <div class="message">
        <mat-progress-spinner mode="indeterminate" diameter="20"></mat-progress-spinner>
        <span>Thinking...</span>
      </div>
    </div>
  </div>

  <div id="input">
    <div class="font-controls">
      <button mat-icon-button (click)="decreaseFontSize()">
        <div class="font-icon-container">
          <mat-icon>remove</mat-icon>
        </div>
      </button>
      <button mat-icon-button (click)="increaseFontSize()">
        <div class="font-icon-container">
          <mat-icon>add</mat-icon>
        </div>
      </button>
    </div>
    <textarea matInput [(ngModel)]="userInput" (keyup.enter)="sendMessage()" placeholder="Type a message..." #userInputElement (input)="adjustTextareaHeight($event)"></textarea>
    <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
  </div>
</div>
