<mat-card id="chatbox">
  <mat-card-header>
    <mat-card-title>Chat</mat-card-title>
  </mat-card-header>
  <mat-card-content id="messages">
    <mat-list>
      <mat-list-item *ngFor="let msg of messages" [ngClass]="msg.sender === 'user' ? 'reply' : 'response'">
        <div class="message-content" style="flex-grow: 1;" *ngFor="let paragraph of msg.text | splitTextPipe">
          <mat-icon class="message-icon">{{ msg.sender === 'user' ? 'person' : 'smart_toy' }}</mat-icon>
          <div class="message-text">
            <ng-container>
                <p (onload)="adjustTextareaHeight($event)">{{ paragraph }}</p>
                <mat-icon class="response-count">{{ msg.text.length }}</mat-icon>
            </ng-container>
          </div>
          <div class="future-icons">
            <mat-icon>more_vert</mat-icon>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
    <div *ngIf="isThinking" class="thinking progress">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      <span>Thinking...</span>
    </div>
  </mat-card-content>
  <mat-card-actions id="input">
    <mat-form-field class="full-width" appearance="outline">
      <input matInput [(ngModel)]="userInput" (keyup.enter)="sendMessage()" placeholder="Type a message..." #userInputElement>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
  </mat-card-actions>
</mat-card>
