@use "variables" as vars;
@use "mixins" as mix;

:host {
  display: block;
  padding: 1rem 0;
  position: relative;

  &::before {
    background-color: var(--md-sys-color-outline-variant);
    bottom: 0;
    content: "";
    left: 0.625em;                                 
    position: absolute;
    top: 0;
    width: 0.125em;
    z-index: 1;
  }
}
