@use "variables" as vars;
@use "mixins" as mix;

:host {
  display: block;
  padding: 1rem 0;
  position: relative;

  /* Timeline line */
  &::before {
    background-color: var(--md-sys-color-outline-variant);
    bottom: 0;
    content: "";
    left: 10px; // Adjust based on node position
    position: absolute;
    top: 0;
    width: 2px;
    z-index: 1;
  }
}
