@use 'variables' as vars;
@use 'mixins' as mix;

:host {
  display: block;
  position: relative;
  padding: 1rem 0;

  /* Timeline line */
  &::before {
    content: '';
    position: absolute;
    left: 10px; // Adjust based on node position
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--md-sys-color-outline-variant);
    z-index: 1;
  }
}
