<div class="timeline-list">
  <ng-container *ngIf="events && events.length > 0; else noEvents">
    <div class="timeline-list-content">
      <app-timeline-item
        *ngFor="let event of events; trackBy: trackById; let i = index"
        [event]="event"
        class="animate-fade-in"
        [appSparkle]="isJeffreyHistoricalEvent(event)"
        [style.animation-delay.ms]="i * 200">
      </app-timeline-item>
    </div>
  </ng-container>

  <ng-template #noEvents>
    <div class="no-events-container">
      <mat-icon>event_busy</mat-icon>
      <p>No timeline events found.</p>
    </div>
  </ng-template>
</div>
