@use "variables" as vars;
@use "mixins" as mix;

.memorial-timeline-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.memorial-timeline-header {
  background-color: var(--md-sys-color-surface);
  border-radius: 0.5em;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  margin-bottom: 1.5rem;
  overflow: hidden;
  padding: 1.5rem;
  position: relative;

  &::before {
    background:
      linear-gradient(
        to bottom,
        var(--md-sys-color-primary),
        var(--md-sys-color-primary) 33%,
        var(--md-sys-color-on-primary) 33%,
        var(--md-sys-color-on-primary) 66%,
        var(--md-sys-color-secondary) 66%,
        var(--md-sys-color-secondary)
      );
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0.25em;
  }

  h1 {
    color: var(--md-sys-color-primary);
    margin-bottom: 0.5rem;
  }

  p {
    color: var(--md-sys-color-on-surface-variant);
  }
}

.loading-container {
  align-items: center;
  color: var(--md-sys-color-primary);
  display: flex;
  font-size: 1.2em;
  height: 12.5em;
  justify-content: center;
}

.memorial-timeline-controls {
  .filter-field {
    display: block;
    margin-bottom: 0.75em;
    width: 17.5em;
  }
}
