html,
body {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

.app-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 0.75em);

  overflow: hidden;
  position: relative;
  width: 100%;
}

app-header {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
}

.layout-container {
  align-items: stretch;
  box-sizing: border-box;
  column-gap: 1em;                                             
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  max-height: 100%;
  min-height: 0;
  min-width: 0;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
}

.sidebar {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 15.5em;
  flex-direction: column;
  height: 75% !important;
  max-height: 75vh !important;
  transition:
    flex-basis 0.3s,
    width 0.3s;
}

.sidebar.collapsed {
  flex-basis: 7em !important;
  max-width: 7em !important;
  min-width: 7em !important;
  margin: 0 !important;
  overflow: hidden;
  padding: 0 !important;
  width: 7em !important;
}

.main-stage,
.router-content-wrapper {
  background: transparent;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  min-width: 0;
  overflow-y: auto;
  transition:
    flex-basis 0.3s,
    width 0.3s;
}

.main-stage.sidebar-collapsed {
  flex: 1 1 100%;
  max-width: 100% !important;
  width: 100% !important;
}

.router-content-wrapper.footer-expanded {
  padding-bottom: var(--footer-expanded-effective-height);
}

app-footer {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
}

#background-video {
  bottom: 0;
  height: 100vh;
  object-fit: cover;
  opacity: 0.5;
  overflow: hidden;
  position: fixed;
  right: 0;
  transform: scale(1.2);
  width: 100vw;
  z-index: -1;
}

:root {
  --footer-expanded-effective-height: 10em;
  --main-content-target-vh-when-footer-expanded: 100vh;
  --calculated-layout-height-footer-expanded: calc(var(--main-content-target-vh-when-footer-expanded) - var(--footer-expanded-effective-height));
}

.main-stage.footer-expanded,
.layout-container.footer-expanded,
.router-content-wrapper.footer-expanded {
  max-height: calc(100vh - var(--footer-expanded-effective-height)) !important;
}

.layout-container.footer-expanded {
  height: var(--calculated-layout-height-footer-expanded) !important;
  max-height: var(--calculated-layout-height-footer-expanded) !important;
}
