<div class="app-container flex-col">
  <header>
    <app-header></app-header>
  </header>
  <div class="layout-container flex-row flex-1 gap-1em" [class.sidebar-collapsed]="isCollapsed">
    <aside class="sidebar">
      <app-sidebar [isSmallScreen]="isSmallScreen" [isCollapsed]="isCollapsed"></app-sidebar>
    </aside>
    <main class="main-stage flex-1" [class.footer-expanded]="isFooterExpanded" [class.sidebar-collapsed]="isCollapsed">
      <div class="router-content-wrapper flex-col flex-1">

        <router-outlet (activate)="onRouterActivate($event)" (deactivate)="onRouterDeactivate($event)"></router-outlet>
      </div>
    </main>
  </div>
  <footer>
    <app-footer></app-footer>
  </footer>
  <video id="background-video" autoplay loop muted>
    <source src="assets/us-flag-disa-navy.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</div>
