:root {
  --color-aapl: #FF5733;
  --color-googl: #33FF57;
  --color-msft: #3357FF;
}

.fintech-chart-container {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: flex-end; /* Align chart to the bottom */
  align-items: flex-end; /* Align chart to the bottom */
  overflow: hidden;
}

.fintech-chart {
  width: 100%;
  height: 100%;

}

.tooltip {
  position: absolute;
  text-align: center;
  width: 120px;
  height: auto;
  padding: 5px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
  z-index: 10; /* Ensure tooltip appears above other elements */
}

.bar.stock-aapl,
.line.stock-aapl,
.avg-line.stock-aapl {
  stroke: var(--color-aapl);
  fill: var(--color-aapl);
}
