@use "sass:map";
@use "sass:color" as color;
@use "./variables" as vars;

@keyframes fly-in {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fly-in {
  animation: fly-in 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes fade-to-red {
  0% {
    color: inherit;
    text-shadow: none;
  }

  50% {
    color: map.get(vars.$table-theme, patriotic-red);
    text-shadow: 0 0 5px rgba(map.get(vars.$table-theme, patriotic-red), 0.5);
  }

  100% {
    color: inherit;
    text-shadow: none;
  }
}

@keyframes twinkle {
  from {
    opacity: 0.7;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shine {
  from {
    left: -50%;
  }

  to {
    left: 150%;
  }
}

@keyframes shimmer {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-0.5rem);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
