<ng-container *ngIf="isMobile; else desktopView">
  <div class="content">
    <div class="grid" cdkDropList (cdkDropListDropped)="drop($event)">
      <div
        class="row"
        *ngFor="let chart of charts; let i = index"
        cdkDrag
      >
        <div
          (click)="openTile(i)"
          (keydown.enter)="openTile(i)"
          (keydown.space)="openTile(i)"
          tabindex="0"
          class="chart-card"
          [class.expanded]="expandedTileIndex === i"
        >
          <div class="card-header">
            <div class="card-title">{{ chart.name }}</div>
          </div>
          <div class="card-content">
            <ng-container *ngIf="chart.component === 'app-line-chart'">
              <app-line-chart [data]="chart.data"></app-line-chart>
            </ng-container>
            <ng-container *ngIf="chart.component === 'app-bar-chart'">
              <app-bar-chart [data]="chart.data"></app-bar-chart>
            </ng-container>
            <ng-container *ngIf="chart.component === 'app-fintech-chart'">
              <app-fintech-chart [data]="chart.data"></app-fintech-chart>
            </ng-container>
            <ng-container *ngIf="chart.component === 'app-map-chart'">
              <app-map-chart [data]="chart.data"></app-map-chart>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #desktopView>
  <!-- Desktop View -->
  <!-- Add your desktop view code here -->
</ng-template>
