@use "../../../../styles/md3-mapping" as md3;

.line-chart-container {
  align-items: center;
  background-color: md3.$md-background;
  border: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.line-chart {
  height: 100%;
  position: relative;
  width: 100%;
}

.chart-fullsize {
  bottom: 0;
  height: 100% !important;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100% !important;
}

:host ::ng-deep svg {
  display: block;
  height: 100% !important;
  overflow: visible;
  width: 100% !important;
}

:host ::ng-deep div[id="chart"] {
  height: 100%;
  width: 100%;
}

.status-message {
  background-color: rgb(0 0 0 / 80%);
  border-radius: 0.25em;
  color: white;
  font-size: 0.875em;
  left: 50%;
  margin-bottom: 1rem;
  max-width: 80%;
  padding: 1em;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

:host ::ng-deep .line-tooltip {
  background-color: rgb(28 40 65 / 90%) !important;
  border: 1px solid #b22234;
  border-radius: 0.25em;
  font-family: Arial, sans-serif;
  letter-spacing: 0.0125em;
  line-height: 1.4;
  max-width: 15.625em;
  padding: 0.625em;
  z-index: 100;
}

:host ::ng-deep .line-tooltip .tooltip-title {
  font-weight: bold;
  margin-bottom: 0.3125em;
}

:host ::ng-deep .line-tooltip .series-0 {
  color: #b22234;
}

:host ::ng-deep .line-tooltip .series-1 {
  color: #fff;
}

:host ::ng-deep .line-tooltip .series-2 {
  color: #3c3b6e;
}

:host ::ng-deep .line-tooltip {
  pointer-events: none;
  position: absolute;
}

:host ::ng-deep {
  .domain,
  .tick line {
    stroke: rgb(255 255 255 / 30%);
  }

  .tick text {
    fill: rgb(255 255 255 / 90%);
  }

  .line {
    filter: drop-shadow(0 2px 3px rgb(255 255 255 / 20%));
  }

  .grid line {
    stroke: rgb(255 255 255 / 10%);
    stroke-dasharray: 2, 2;
  }

  .chart-title {
    font-family: Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 0.0313em;
  }

  .chart-subtitle {
    font-family: Arial, sans-serif;
    font-style: italic;
  }

  .x-axis-label,
  .y-axis-label {
    font-family: Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 0.0188em;
  }

  .legend-container {
    font-family: Arial, sans-serif;
    pointer-events: all;
  }

  .legend rect {
    stroke: rgb(255 255 255 / 50%);
    stroke-width: 1px;
  }

  .legend text {
    fill: #fff;
    font-weight: 500;
  }

  .star {
    fill: white;
    opacity: 0.3;
  }
}

:host {
  box-sizing: border-box;
  display: block;
  height: 100%;
  min-height: 18.75em;
  width: 100%;
}
