@use '@angular/material' as mat;

$navy-palette: mat.m3-define-palette((
  primary: #002868,
  on-primary: #ffffff,
  primary-container: #001E55,
  on-primary-container: #ffffff,
  surface-tint: #002868
));
