// _colors.scss

// Navy Theme
$navy-palette: (
  primary: #002868,
  on-primary: #ffffff,
  primary-container: #001E55,
  on-primary-container: #ffffff,
  surface-tint: #002868
);

// Pink Theme
$pink-palette: (
  tertiary: #e91e63,
  on-tertiary: #ffffff,
  tertiary-container: #c2185b,
  on-tertiary-container: #ffffff,
  surface-tint: #e91e63
);
