$md-sys-color: (
  primary: #002868,
  on-primary: #fff,
  primary-container: #d6e2ff,
  on-primary-container: #001849,
  surface: #fdfbff,
  on-surface: #1b1b1f,
  surface-variant: #e1e2ec,
  on-surface-variant: #44474f,
  state-layers: (
    hover-opacity: 0.08,
    focus-opacity: 0.12,
    pressed-opacity: 0.12,
    dragged-opacity: 0.16,
  ),
  typography: (
    display-large: (
      font-family: "Roboto Flex, sans-serif",
      font-size: 3.5625em,
      line-height: 4em,
      font-weight: 400,
      letter-spacing: -0.0156em,
    ),
  )
);

@use "sass:map";
@use "sass:meta";

@mixin emit-css-vars($map, $prefix: "") {
  @each $k, $v in $map {
    $name: null;
    @if $prefix == "" {
      $name: $k;
    } @else {
      $name: #{$prefix}-#{$k};
    }

    @if meta.type-of($v) == "map" {
      @include emit-css-vars($v, $name);
    } @else {
      #{"--md-sys-#{$name}"}: #{$v};
    }
  }
}

:root {
  @include emit-css-vars($md-sys-color);
}

body.dark-theme {

}
