@use "variables" as vars;
@use "sass:map";

@mixin respond-to($breakpoint) {
  $value: map.get(vars.$breakpoints, $breakpoint);

  @if $value {
    @media (min-width: $value) {
      @content;
    }
  }

  @else {
    @error "Unknown breakpoint: #{$breakpoint}. Available breakpoints: #{map.keys(vars.$breakpoints)}";
  }
}

@mixin respond-below($breakpoint) {
  $value: map.get(vars.$breakpoints, $breakpoint);

  @if $value {
    @media (max-width: ($value - 1px)) {
      @content;
    }
  }

  @else {
    @error "Unknown breakpoint: #{$breakpoint}. Available breakpoints: #{map.keys(vars.$breakpoints)}";
  }
}

@mixin respond-between($min-breakpoint, $max-breakpoint) {
  $min-value: map.get(vars.$breakpoints, $min-breakpoint);
  $max-value: map.get(vars.$breakpoints, $max-breakpoint);

  @if $min-value and $max-value {
    @media (min-width: $min-value) and (max-width: ($max-value - 1px)) {
      @content;
    }
  }

  @else {
    @error "Unknown breakpoint: #{$min-breakpoint} or #{$max-breakpoint}";
  }
}

@mixin respond-to-orientation($orientation) {
  @media (orientation: $orientation) {
    @content;
  }
}

@mixin responsive-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;

  @include respond-to(sm) {
    max-width: map.get(vars.$container-max-widths, sm);
  }

  @include respond-to(md) {
    max-width: map.get(vars.$container-max-widths, md);
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  @include respond-to(lg) {
    max-width: map.get(vars.$container-max-widths, lg);
  }

  @include respond-to(xl) {
    max-width: map.get(vars.$container-max-widths, xl);
  }

  @include respond-to(xxl) {
    max-width: map.get(vars.$container-max-widths, xxl);
  }
}

@mixin responsive-grid($columns: 12, $gap: 1em) {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat($columns, 1fr);

  @include respond-below(md) {
    grid-template-columns: repeat(6, 1fr);
  }

  @include respond-below(sm) {
    grid-template-columns: repeat(4, 1fr);
  }
}

@mixin responsive-typography {

  h1,
  .h1 {
    font-size: 2em;                     

    @include respond-to(md) {
      font-size: 2.5em;        
    }

    @include respond-to(lg) {
      font-size: 3em;        
    }
  }

  h2,
  .h2 {
    font-size: 1.5em;        

    @include respond-to(md) {
      font-size: 1.75em;        
    }

    @include respond-to(lg) {
      font-size: 2em;        
    }
  }

}

@mixin responsive-spacing($property, $size-name) {
  $size: map.get(vars.$spacing, $size-name);

  @if $size {
    #{$property}: $size;

    @include respond-below(md) {
      #{$property}: $size * 0.75;
    }

    @include respond-below(sm) {
      #{$property}: $size * 0.5;
    }
  }

  @else {
    @error "Unknown spacing size: #{$size-name}";
  }
}

@mixin responsive-logo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;

  img {
    flex: 0 0 auto;
    height: 1.5em;
    margin: 0.25em;
    opacity: 0.7;
    transition: all 0.3s ease;
    width: auto;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }

  @include respond-below(md) {
    justify-content: center;

    img {
      height: 1.25em;
      margin: 0.1875em;
    }
  }

  @include respond-below(sm) {
    img {
      height: 1.125em;
      margin: 0.125em;
    }
  }
}

@mixin responsive-card-layout {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(auto-fill, minmax(18.75em, 1fr));

  @include respond-below(md) {
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(15.625em, 1fr));
  }

  @include respond-below(sm) {
    gap: 0.75em;
    grid-template-columns: 1fr;
  }
}

@mixin responsive-two-column {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr;

  @include respond-below(md) {
    gap: 1.5em;
    grid-template-columns: 1fr;
  }
}

@mixin responsive-app-shell {

  .header-card {
    left: 0.5em;
    position: fixed;
    right: 0.5em;
    top: 0.5em;
    z-index: map.get(vars.$z-layers, header);

    @include respond-below(sm) {
      left: 0.25em;
      right: 0.25em;
      top: 0.25em;
    }
  }

  .footer-container {
    bottom: 0.5em;
    left: 0.5em;
    position: fixed;
    right: 0.5em;
    z-index: map.get(vars.$z-layers, footer);

    @include respond-below(sm) {
      bottom: 0.25em;
      left: 0.25em;
      right: 0.25em;
    }
  }

  .layout-container {
    box-sizing: border-box;
    padding: 0 0.5em;

    .sidebar,
    .main-stage {
      margin-bottom: 0.5em;                         
    }

    @include respond-below(sm) {
      padding: 0 0.25em;

      .sidebar,
      .main-stage {
        margin-bottom: 0.25em;
      }
    }
  }
}
