@use '@angular/material' as mat;
@use './_colors' as colors;
@use './_theme' as theme;

/* Material Core */
@include mat.core();

/* Apply Theme */
@include mat.all-component-colors(theme.$theme);
@include mat.all-component-themes(theme.$theme);

/* Base Styles */
body {
  font-family: 'Roboto, Arial, sans-serif';
  background-color: mat.get-theme-color(theme.$theme, surface);
  color: mat.get-theme-color(theme.$theme, on-surface);
}
