@use "variables" as *;
@use "themes" as *;
@use "typography" as *;
@use "_transition-variables" as *;

@use "reset" as *;
@use "scrollbar" as *;

@use "layout" as *;
@use "responsive" as *;
@use "utilities" as *;
@use "accessibility" as *;                                                     

@use "md3-tokens" as *;
@use "md3-components" as *;
@use "material-overrides" as *;
@use "patriotic-overrides" as *;
@use "md3-mapping" as md3;

@use "animations" as *;

@include apply-patriotic-colors;

body {
  box-sizing: border-box;
  font-family: var(--md-sys-typescale-body-medium-font-family-name);
  margin: 0;
  padding: 0;
}

.sparkline .spark-stop-a {
  stop-color: #3b82f6;
  stop-opacity: 80%;
}

.sparkline .spark-stop-b {
  stop-color: #10b981;
  stop-opacity: 80%;
}

.sparkline .spark-stop-c {
  stop-color: #ef4444;
  stop-opacity: 80%;
}

.sparkline-detailed .spark-stop-a {
  stop-color: #3b82f6;
  stop-opacity: 50%;
}

.sparkline-detailed .spark-stop-b {
  stop-color: rgb(59 130 246 / 25%);
  stop-opacity: 25%;
}

html,
body {
  height: 98vh;
  max-height: 98vh;
  min-height: 98vh;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
