@import 'src/styles/colors';

.table-container {
  padding: 0.55em;
  width: 99%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.selectors {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  margin-bottom: 1em;
  width: 100%; /* Ensure it takes full width */
}

.record-collection {
  height: 14em;
  margin-bottom: 1em;
}

.report {
  display: inline-block;
  width: 100%;
  font-size: 1.6em;
  color: black;
  margin-bottom: 1em;
}

// Material Table with Pagination, Sort, and Filter
.table-wrapper {
  display: block;
  max-height: 29em; /* Set a max height to enable scrolling */
  overflow-x: auto;
  white-space: nowrap;
  flex-grow: 1;

  th {
    position: sticky;
    top: 0;
    background-color: $dark-blue; /* Blue background */
    color: $accent-white; /* White text */
    font-size: 1.2em; /* Font size */
    text-align: left;
    z-index: 1; /* Ensure it stays on top */
  }

  th:last-child, td:last-child {
    text-align: right;
  }

  tbody {
    display: block;
    max-height: 29em; /* Set a max height to enable scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
  }

  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* Ensure the table layout is fixed */
  }
}

// the last cell of the table should be justified right

.mat-paginator {
  background-color: $dark-blue; /* Blue background */
  color: $primary-white; /* White text */
  font-size: 1em; /* Font size */
  text-align: left;
  z-index: 1; /* Ensure it stays on top */
}

@keyframes flyIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.flyIn {
  animation: flyIn 1s ease-in-out;
}
