@use 'sass:map';

$table-theme: (
  dark-blue: #00008b,
  primary-white: #ffffff,
  teal: #008080,
  blue: #0000ff,
);

.no-data,
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Optional: to add a semi-transparent background */
  z-index: 1000;
}

.table-wrapper {
  display: block;
  max-height: 25em; /* Set a max height to enable scrolling */
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
  flex-grow: 1;

  /* Scrollbar styling */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: linear-gradient(to bottom, red, white, blue) transparent; /* For Firefox */

  &::-webkit-scrollbar {
    width: 8px; /* Thin scrollbar width */
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, red, white, blue);
    border-radius: 10px;
    border: 2px solid transparent; /* Transparent border to create padding effect */
  }

  &::-webkit-scrollbar-track {
    background: transparent; /* Transparent background */
  }

  &::-webkit-scrollbar-button {
    background-color: blue; /* Blue controls */
    display: block;
    height: 16px;
    width: 16px;
  }
}

.record-collection {
  height: 13em;
  margin-bottom: 1em;
  border-radius: 0.25em;

  .report {
    display: flex;
    flex-wrap: wrap; /* Allow the text to wrap around the button */
    width: 100%;
    font-size: 1.25em;
    margin-bottom: 1em;


    .report-text {
      min-height: 3em;
      flex: 1; /* Allow the report text to take available space */
      border: 1px solid map.get($table-theme, blue); /* 1px solid blue border */
      border-radius: 0.25em;
      color: map.get($table-theme, dark-blue);
      margin-right: 1em;
      padding: 0.25em 0.5em;
    }

    .swagger-button,
    .button-container {
      display: flex;
      justify-content: flex-end;
    }

    .swagger-button {
      border: 1px solid blue;
      background-color: map.get($table-theme, primary-white);
      color: map.get($table-theme, teal);
      padding: 0.5em 1em;
      border-radius: 0.25em;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: map.get($table-theme, dark-blue);
        color: map.get($table-theme, primary-white);
      }
    }
  }

  .selectors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em;
  }

  .table-container,
  .mat-paginator {
    padding: 0.55em;
    width: 99%;
    height: 78vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
  }

  .table-wrapper {
    display: block;
    max-height: 29em;
    overflow-x: auto;
    white-space: nowrap;
    flex-grow: 1;

    table {
      display: block;
      max-height: 20em; /* Adjust this value to ensure the scrollbar appears */
      overflow-y: auto; /* Ensure scrollbar appears when rows exceed screen height */
    }

    thead,
    tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
  }
}

.fade-to-red {
  animation: fade-to-red 2s ease-in-out;
}

.table-wrapper th {
  position: sticky;
  top: 0;
  background-color: #3f51b5; /* Blue background */
  color: #fff; /* White text */
  font-size: 1em; /* Font size */
  text-align: left;
  z-index: 1; /* Ensure it stays on top */
}

.mat-paginator {
  background-color: #3f51b5; /* Blue background */
  color: #fff; /* White text */
  font-size: 1em; /* Font size */
  text-align: left;
  z-index: 1; /* Ensure it stays on top */
}

@keyframes fly-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.fly-in {
  animation: fly-in 1s ease-in-out;
}

@keyframes fade-to-red {
  0%,
  100% {
    color: inherit;
  }
  
  50% {
    color: red;
  }
}
