<div class="line-chart-container" [ngClass]="currentTheme">
  <div class="chart-header" *ngIf="xAxisLabel || yAxisLabel">
    <div class="axis-labels">
      <span *ngIf="yAxisLabel" class="y-axis-label">{{ yAxisLabel }}</span>
      <span *ngIf="xAxisLabel" class="x-axis-label">{{ xAxisLabel }}</span>
    </div>
  </div>
  
  <div #chartContainer class="chart-body" [style.height.px]="height"></div>
  
  <div class="chart-legend" *ngIf="showLegend && data?.length">
    <div class="legend-item" *ngFor="let item of data">
      <div class="legend-color" [style.backgroundColor]="item.color || generateColor(item.name)"></div>
      <span class="legend-label">{{ item.name }}</span>
    </div>
  </div>
</div>
