name: CI
on:
  push:
    branches:
      # Change this if your primary branch is not main
      - master
  pull_request:

# Needed for nx-set-shas when run on the main branch
permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: nrwl/nx-set-shas@v4

      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Ensure pnpm
        run: |
          corepack enable
          corepack prepare pnpm@latest --activate

      - name: Install dependencies
        run: pnpm install --frozen-lockfile=false

      - name: Format check (nx)
        run: pnpm dlx nx-cloud record -- nx format:check

      - name: Run tests
        run: pnpm dlx nx affected -t test --json --coverageReporters=text-summary,lcov > test-results.json || true

      - name: Build & E2E
        run: pnpm dlx nx affected -t build e2e || true

      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Test Results
          path: test-results.json
          reporter: jest
          fail-on-error: false

      - name: Upload coverage reports
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage/lcov.info
          fail_ci_if_error: false
          verbose: true